@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.teclado {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 5px;
    max-width: 300px;
  }

  .tecla {
    padding: 15px;
    border: 1px solid #000000;
    text-align: center;
    cursor: pointer;
  }

 #salvar {
    width: 200px;
    padding: 10px;
    margin: 10px 0;
  }